body {
  padding: 0px !important;
  margin: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
}

a {
  color: #00B7FF;
}

table.dataTable tbody tr {
    padding: 0 !important;
}
